*{
padding: 0px;
margin: 0px;
font-family: "poppins",cursive;
background-color: rgb(212, 152, 155);
color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
input{
    background-color: aliceblue;
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border:rgb(212, 152, 155) ;
}
form{
    color:white;
}
